<!-- about.html -->

{% extends "base.html" %}
{% block title %}About Us{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="about-section">
                <h1>About Our Graduation Project</h1>
                <p>
                    Our graduation project in Information Technology Engineering aims to address an AI Chatbot that can help paitent.
                </p>
                <p>
                    The project was developed using modern technologies and frameworks, providing a robust and efficient solution to .
                </p>
                <p>
                    We utilized various tools and methodologies throughout the development process, including Django,Python,HTML,Pico CSS,Bootstrap CSS,JavaScript,Json,.
                </p>

            </div>
        </div>
    </div>
</div>
{% endblock %}
